*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}
h2,h3,h4,b{
	font-weight: normal;
}
body{
	font-family: "微软雅黑" arial helvetica;
	background: url(../img/bg_star.png) no-repeat;
	background-size:cover ;
}
header{
	width: 100%;
	height: 5.825rem;
	background: url(../img/top_bg.png) no-repeat;
	background-size: 100% 100%;
	color: #fff;
	text-align: center;
	font-size: 2.35rem;
	line-height: 5.825rem;
	margin-bottom: 2.225rem;
}
.content{
	text-align: center;
	overflow: hidden;
	padding: 0 1.7rem 1.8rem;
}
.bg{	
	background-image: url(../img/kuang_bj_1.png),url(../img/kuang_bj_2.png),url(../img/kuang_bj_3.png),url(../img/kuang_bj_4.png);
	background-position: left top, right top,left bottom,right bottom;  
	background-repeat:no-repeat,no-repeat,no-repeat,no-repeat;
	background-color: rgba(0,30,271,0.1);
	background-size: 1.8rem 1.825rem ;
	border: 0.1375rem solid rgba(15,32,87,0.1);	
	color: #fff;
}
.left{
	float: left;	
	border-radius: 0.1875rem;
	width: 60.35rem;
	height: 49.7875rem;	
	border: 0.1375rem solid rgba(15,32,87,0.1);	
	/*padding: 1.8rem 1.85rem 0;*/
	box-sizing: border-box;
}
.right{
	float: left;	
	width: 39.95rem;
	margin-left: 1.45rem;
}
.right-up{	
	width: 100%;
	height: 30.3rem;
	margin-bottom: 0.825rem;
	/*margin-top: 0.1rem;*/
	/*background: transparent;*/
}
.right-down{
	width: 100%;
	height: 18.0875rem;
}
/*右上角扇形图样式*/
.right-up-bottom{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
h2.title{
	text-align: left;
	font-size: 1.375rem;
	color: #fff;
	margin:1.8rem 0 0 1.85rem ;
}
h2.title span{
	font-size: 0.875rem;
}
.right-up-bottom p{
	
	width: 18.5rem;
	height: 4.4rem;
	/*line-height: 4.4rem;
	display: inline-block;	*/
	background-color: rgba(27,55,139,0.26);
	border-radius: 0.1875rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.right-up-bottom p:nth-of-type(2){
	margin-left: 0.825rem;
}
.right-up-bottom span{	
	line-height: initial;
	font-size: 0.9875rem;
	color: #288df8;
	margin-right: 1.625rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.right-up-bottom b{	
	font-size: 2.05rem;
	color: #fff;	

}
.right-up-bottom i{
	font-style: normal;	
	line-height: initial;
	font-size: 0.6rem;
}
/*右下角区域样式*/
.right-down-count{
	float: right;
	background-color: rgba(27,55,139,0.26);
	width: 10rem;
	height: 4.25rem;
	border-radius: 0.1875rem;
	margin-right: 1.0625rem;
}
.right-down-count p{
	
}
.right-down-count p:nth-of-type(1){
	/*margin-bottom: 0.7875rem;*/
}
.right-down-count i{
	font-size: 0.5rem;
}
.right-down-count span{
	margin-left: 0.725rem;
	color: #288DF8;
	font-size: 0.7rem;
}
.right-down-count b{
	color: #FFF;
	font-size: 1rem;
	margin-left: 0.45rem;
}
/*左侧区域样式*/
.left-count{
	margin-top: 1.15rem;
	margin-left: 1.85rem;
	text-align: initial;
}
.history-count{
	margin-top: 1rem;
}
.left-count>div:before{
	content: "";
	display: inline-block;
	float: left;
	margin-right:1.4125rem;;
	height: 4.1625rem;
	width: 0.275rem;
	background-color: #288DF8;
}
.left-count p{
	color: #288DF8;
	font-size: 1.2rem;
}
.left-count h3{
	font-size: 2.55rem;
	color: #fff;
	margin-top: -0.25rem;
}
