<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge,chrome=1" />
    <title>纸去哪了-废纸交易平台</title>
    <link rel="stylesheet" href="../../css/account/myOrder.css"/>
</head>
<body>

<div class="container">
    <div class="header">
        <div id="top_bar"></div>
        <div id="nav_bar"></div>
        <div id="search"></div>
    </div>
    <div class="main_box">
        <div id="orderDetail">
            <div class="myLeft"></div>
            <div class="od_detail">
                <div class="bread">
                    您的位置：
                    <a href="../index.html">首页</a> ＞
                    <a href="#">我的订单</a> ＞
                    <a class="cur" href="#">订单详情</a>
                </div>
                <div class="orderMsg">
                </div>
            </div>
        </div>
    </div>
    <div id="footer"></div>
</div>
<input class="hidden" data-id="myOrder" type="hidden"/>
<!--orderType=1 直销   =2 采购-->
<script type="text/html" id="orderMsg">
    {{if order_type==1}}
    <h2 class="title">订单详情</h2>
    <h2 class="time">{{created_date}}</h2>
    <div class="msg">
        <div class="lf">
            <h3>订单信息</h3>
            <p data-state="{{order_state}}">订单号：{{order_number}}</p>
            {{if order_state==1}}
            <p>订单状态：待发货</p>
            {{else if order_state==2}}
            <p>订单状态：待收货</p>
            {{else if order_state==3}}
            <p>订单状态：待验收</p>
            {{else if order_state==4}}
            <p>订单状态：待付款</p>
            {{else}}
            <p>订单状态：已完成</p>
            {{/if}}
        </div>
        <div class="more">
            <a href="../shop/shoppingCity.html?id={{goods_id}}">查看废纸详情</a>
            <div class="mo">
                <span onclick="more(this)" class="cf">更多 <img class="on" src="../../img/jiantou_bottom.png" alt=""/>
                    <img src="../../img/jiantou_up.png" alt=""/>
                </span>
                <div class="xs">
                    {{if created_date}}
                    <p>订单创建时间：{{created_date}}</p>
                    {{/if}}
                    {{if send_date}}
                    <p>发货时间：{{send_date}}</p>
                    {{/if}}
                    {{if take_date}}
                    <p>收货时间：{{take_date}}</p>
                    {{/if}}
                    {{if pay_date}}
                    <p>支付时间：{{pay_date}}</p>
                    {{/if}}
                    {{if settle_date}}
                    <p>结算时间：{{settle_date}}</p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="yg">
        <p>预估废纸级别：{{paper_estimate_stage}}</p>
        <p>预估单价：{{paper_unit_price}}元</p>
        <p>预估重量：{{paper_estimate_num}}吨</p>
    </div>
    {{if order_state==4}}
    <div class="yg">
        <p>结算总重量：{{total_weight}}</p>
        <p>结算总金额：{{real_total}}元</p>
        {{if gap<0}}
        <p>需支付差额：{{(-gap)}}元</p>
        {{else}}
        <p>退还差额：{{gap}}元</p>
        {{/if}}
        {{if slug==1}}
        {{if is_pay}}
        <p>
            结算状态：
            {{if ping_order_no==null}}
            <a href="payment.html?{{order_id}}&1&0">去付款</a>
            {{else}}
            <a href="payment.html?{{order_id}}&1&1">去补款</a>
            {{/if}}
        </p>
        {{/if}}
        {{else}}
        <p>结算进程：
            {{if settle_status=='去付款'}}
            {{if ping_order_no==null}}
            <a href="payment.html?{{order_id}}&1&0">去付款</a>
            {{else}}
            <a href="payment.html?{{order_id}}&1&1">去补款</a>
            {{/if}}
            {{else}}
            {{settle_status}}
            {{/if}}
        </p>
        {{/if}}
    </div>
    {{/if}}
    {{if order_state==5}}
    <div class="yg">
        <p>结算总重量：{{total_weight}}</p>
        <p>付款进程：{{pay_status}}</p>
        <p>结算进程：{{settle_status}}</p>
        <!-- 有则显示-->
        {{if total_extra}}
        <p>补款金额：{{total_extra}}元</p>
        {{/if}}
        {{if trade_no}}
        <p>补款交易流水号：{{trade_no}}</p>
        {{/if}}
        <!-- -->
    </div>
    {{/if}}
    {{if order_settle_list}}
    {{each order_settle_list as value i}}
    <div class="js">
        <p>结算废纸级别：{{value.paper_stage}}级</p>
        <p>结算单价：{{value.settle_unit_price}}元</p>
        <p>结算重量：{{value.settle_weight}}吨</p>
        <p>结算金额：{{value.settle_price}}元</p>
        <p>
            结算清单 <br/>
            <img src="{{value.bill_photo}}"/>
        </p>
    </div>
    {{/each}}
    {{/if}}
    <div>
        <p data-pkid="{{pack_id}}">发货人：{{pack_real_name}}</p>
        <p>联系电话：{{pack_phone}}</p>
        <p>发货地址：{{pack_address}}</p>
    </div>
    <div class="kp">
        <p data-kpid="{{proxy_bill_company_id}}">开票公司：{{proxy_bill_company_name}}</p>
        <p data-pid="{{paper_id}}" data-ptype="{{paper_type}}">销往纸厂：{{company_name}}</p>
        <p>纸厂地址：{{company_address}}</p>
        <p>
            废纸图片 <br/>
            <img src="{{goods_img}}" alt=""/>
        </p>
    </div>
    {{if logistics_driver}}
    {{each logistics_driver as value i}}
    <div class="wl">
        <h3>物流信息</h3>
        <p>物流状态：{{value.logistics_order_state}}</p>
        <p>司机姓名：{{value.driver_name}}</p>
        <p data-did="{{value.driver_id}}">司机联系方式：{{value.driver_phone}}</p>
        <p>物流车牌号：{{value.plate_number}}</p>
    </div>
    {{/each}}
    {{/if}}
    {{else}}
    {{if order_state==-2}}
    <h2 class="title">退款详情</h2>
    <h2 class="time">{{apply_seize_date}}</h2>
    <div class="orderMsg" style="margin-bottom:50px ;">
        <div class="refound_msg" style="padding-bottom: 10px;">
            <div class="lf" style="float: none;margin-top: 25px;">
                <p>退款方式：原路退回</p>
                {{if apply_state==1}}
                {{if refund_state==1}}
                <p>退款金额：<span style="color: #f10505;">{{refund_money}}元</span></p>
                <p>到账时间：{{refund_seize_date}}</p>
                <p>交易流水单号：{{trade_flow_number}}</p>
                {{/if}}
                {{/if}}
            </div>
            <p style="margin-top: 30px;">退款流程</p>
        </div>
        <div class="yg" id="refund_pro">
            <!-- 审核已通过-->
            {{if apply_state==1}}
                <!-- 退款成功-->
                {{if refund_state==1}}
                <h2 class="title" id="first_step">
                    <img src="../../img/liucheng_n.png"/>退款审核通过
                    <div id="pro_right">
                        <img id="process_line" src="../../img/liucheng_line.png"/>
                        <div style="float: left;">
                            <p>您的退款申请已通过，退款请求已移交银联</p>
                            <p class="pro_time" style="color:#999;">{{apply_seize_date}}</p>
                        </div>
                    </div>
                </h2>
                <h2 class="title re_status" id="secnod_step">
                    <img src="../../img/liucheng_p.png"/>银联打款成功
                    <div id="pro_right1">
                        <div style="float: left;">
                            <p>银联打款成功,如有疑问请联系客服</p>
                            <p class="pro_time" style="color:#999;">{{refund_seize_date}}</p>
                        </div>
                    </div>
                </h2>
                <!-- 退款中或退款失败-->
                {{else}}
                <h2 class="title" id="first_step">
                    <img src="../../img/liucheng_n.png"/>退款审核通过
                    <div id="pro_right">
                        <img id="process_line" src="../../img/liucheng_line.png"/>
                        <div style="float: left;">
                            <p>您的退款申请已通过，退款请求已移交银联</p>
                            <p class="pro_time" style="color:#999;">{{apply_seize_date}}</p>
                        </div>
                    </div>
                </h2>
                <h2 class="title re_status" id="secnod_step">
                    <img src="../../img/liucheng_p.png"/>
                    {{if refund_state==0}}
                    退款失败
                    {{else}}
                    银联打款中...
                    {{/if}}
                    <div id="pro_right1">
                        <div style="float: left;">
                            {{if refund_state==0}}
                            <p>银联退款失败</p>
                            {{else}}
                            <p>退款申请成功，目前银联正在打款中，请耐心等待</p>
                            {{/if}}
                            <p class="pro_time" style="color:#999;">{{refund_seize_date}}</p>
                        </div>
                    </div>
                </h2>
                {{/if}}
            <!-- 审核未通过或已拒绝-->
            {{else}}
            <h2 class="title" id="first_step">
                <img src="../../img/liucheng_p.png"/>
                {{if apply_state==0}}
                退款申请已拒绝
                {{else}}
                退款申请审核中
                {{/if}}
                <div id="pro_right">
                    <div style="float: left;margin-left: 30px;">
                        {{if apply_state==0}}
                        <p>打包站已发货，您的退款申请被拒绝</p>
                        {{else}}
                        <p>退款申请已受理，会在2个工作日内完成审核</p>
                        {{/if}}
                        <p class="pro_time" style="color:#999;">{{apply_seize_date}}</p>
                    </div>
                </div>
            </h2>
            {{/if}}
        </div>
    </div>
    {{/if}}
    <h2 class="title">订单详情</h2>
    <h2 class="time">{{created_date}}</h2>
    <div class="msg">
        <div class="lf">
            <h3>订单信息</h3>
            <p data-state="{{order_state}}">订单号：{{order_number}}</p>
            {{if order_state==1}}
            <p>订单状态：待付款</p>
            <p>付款进程：<a href="payment.html?{{order_id}}&2&0">去付款</a></p>
            {{else if order_state==2}}
            <p>订单状态：待发货</p>
            <p>付款进程：已付款</p>
            <p>预付款：{{estimate_total}}</p>
            <p>交易流水：{{stream_number}}</p>
            {{else if order_state==3}}
            <p>订单状态：待收货</p>
            <p>付款进程：已付款</p>
            <p>预付款：{{estimate_total}}</p>
            <p>交易流水：{{stream_number}}</p>
            {{else if order_state==4}}
            <p>订单状态：待验收</p>
            <p>付款进程：已付款</p>
            <p>预付款：{{estimate_total}}</p>
            <p>交易流水：{{stream_number}}</p>
            {{else if order_state==5}}
            <p>订单状态：待结算</p>
            <p>付款进程：已付款</p>
            <p>预付款：{{estimate_total}}</p>
            <p>交易流水：{{stream_number}}</p>
            {{else if order_state==6}}
            <p>订单状态：已完成</p>
            <p>付款进程：已付款</p>
            <p>预付款：{{estimate_total}}</p>
            <p>交易流水：{{stream_number}}</p>
            {{else}}
            <p>订单状态：待发货</p>
            <p>付款进程：已付款</p>
            <p>预付款：{{estimate_total}}</p>
            <p>交易流水：{{stream_number}}</p>
            {{/if}}
        </div>
        <div class="more">
            <a href="../shop/shoppingCity.html?id={{goods_id}}">查看废纸详情</a>
            <div class="mo">
                <span onclick="more(this)" class="cf">更多 <img class="on" src="../../img/jiantou_bottom.png" alt=""/>
                    <img src="../../img/jiantou_up.png" alt=""/>
                </span>
                <div class="xs">
                    {{if created_date}}
                    <p>订单创建时间：{{created_date}}</p>
                    {{/if}}
                    {{if send_date}}
                    <p>发货时间：{{send_date}}</p>
                    {{/if}}
                    {{if take_date}}
                    <p>收货时间：{{take_date}}</p>
                    {{/if}}
                    {{if pay_date}}
                    <p>支付时间：{{pay_date}}</p>
                    {{/if}}
                    {{if settle_date}}
                    <p>结算时间：{{settle_date}}</p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="yg">
        <p>预估废纸级别：{{paper_estimate_stage}}</p>
        <p>预估单价：{{paper_unit_price}}元</p>
        <p>预估重量：{{paper_estimate_num}}吨</p>
        {{if order_state==1}}
        <p>预付款：{{estimate_total}}</p>
        {{/if}}
    </div>
    {{if order_state==5}}
    <div class="yg">
        <p>结算总重量：{{total_weight}}</p>
        <p>结算总金额：{{real_total}}元</p>
        {{if gap<0}}
        <p>需支付差额：{{-(gap)}}元</p>
        {{else}}
        <p>退还差额：{{gap}}元</p>
        {{/if}}
        <p>结算进程：
            {{if settle_status=='去付款'}}
            {{if ping_order_no==null}}
            <a href="payment.html?{{order_id}}&2&0">去付款</a>
            {{else}}
            <a href="payment.html?{{order_id}}&2&1">去补款</a>
            {{/if}}
            {{else}}
            {{settle_status}}
            {{/if}}
        </p>
    </div>
    {{/if}}
    {{if order_state==6}}
    <div class="yg">
        <p>结算总重量：{{total_weight}}</p>
        <p>付款进程：{{pay_status}}</p>
        <p>结算进程：{{settle_status}}</p>
        <!-- 有则显示-->
        {{if total_extra}}
        <p>补款金额：{{total_extra}}元</p>
        {{/if}}
        {{if trade_no}}
        <p>补款交易流水号：{{trade_no}}</p>
        {{/if}}
        <!-- -->
    </div>
    {{/if}}
    {{if order_settle_list}}
    {{each order_settle_list as value i}}
    <div class="js">
        <p>结算废纸级别：{{value.paper_stage}}级</p>
        <p>结算单价：{{value.settle_unit_price}}元</p>
        <p>结算重量：{{value.settle_weight}}吨</p>
        <p>结算金额：{{value.settle_price}}元</p>
        <p>
            结算清单 <br/>
            <img src="{{value.bill_photo}}"/>
        </p>
    </div>
    {{/each}}
    {{/if}}
    <div>
        <p data-pkid="{{pack_id}}">发货人：{{pack_real_name}}</p>
        <p>联系电话：{{pack_phone}}</p>
        <p>发货地址：{{pack_address}}</p>
    </div>
    {{if order_state==1}}
    <div class="kp">
        {{if proxy_bill_company_name}}
        <p data-kpid="{{proxy_bill_company_id}}">开票公司：{{proxy_bill_company_name}}</p>
        {{/if}}
        <p data-pid="{{paper_id}}" data-ptype="{{paper_type}}">销往纸厂：{{company_name}}</p>
        <p>纸厂地址：{{company_address}}</p>
        <p>
            废纸图片 <br/>
            {{if goods_img}}
            <img src="{{goods_img}}"/>
            {{/if}}
        </p>
    </div>
    {{/if}}
    {{if logistics_driver}}
    {{each logistics_driver as value i}}
    <div class="wl">
        <h3>物流信息</h3>
        <p>物流状态：{{value.logistics_order_state}}</p>
        <p>司机姓名：{{value.driver_name}}</p>
        <p data-did="{{value.driver_id}}">司机联系方式：{{value.driver_phone}}</p>
        <p>物流车牌号：{{value.plate_number}}</p>
    </div>
    {{/each}}
    {{/if}}
    {{if order_state==2}}
    <a data-oid="{{order_id}}" onclick="applytk(this)" class="applytk">申请退款</a>
    {{/if}}
    {{/if}}
</script>
<script src="../../lib/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../../lib/md5.js"></script>
<script type="text/javascript" src="../../js/secret.js"></script>
<script type="text/javascript" src="../../lib/template-web.js"></script>
<script type="text/javascript">
    $(function(){
        $('#top_bar').load('../public/topBar.html');
        $('#nav_bar').load('../public/navBar.html');
        $('#search').load('../public/search.html');
        $('#footer').load('../public/footer.html');
        $('.myLeft').load('../public/accLeft.html');

//      获取订单信息
        var orMsg=(location.search.substring(1)).split('&');
        var odid=orMsg[0].split('=')[1];
        var odtype=orMsg[1].split('=')[1];
        var pathname='/api/paper/get/order/detail';
        var obj={
            pe_id:localStorage.getItem("userId"),
            pe_phone:localStorage.getItem("userPhone"),
            order_id:odid,
            order_type:odtype
        }
        GetList(obj,pathname,getDetail);
        function getDetail(_data){
            if(_data.status_code=='10000'){
                console.log(_data.data);
                var orMsg=(location.search.substring(1)).split('&');
                _data.data.order_type=orMsg[1].split('=')[1];
                _data.data.order_id=orMsg[0].split('=')[1];
                _data.data.slug=localStorage.getItem("userSign");
                var html=template('orderMsg',_data.data);
                $('.orderMsg').html(html);
            }
        }
    })
    function more(This){
        $(This).children('img.on').removeClass('on')
                .siblings('img').addClass('on');
        $(This).siblings('.xs').toggle();
    }
    function applytk(This){
        var oid=$(This).attr('data-oid');
        var obj={
            pe_id:localStorage.getItem("userId"),
            pe_phone:localStorage.getItem("userPhone"),
            order_id:oid
        }
        var tkname='/api/paper/is/apply/refund';
        GetList(obj,tkname,getTk);
        function getTk(data){
            if(data.status_code=='10000') {
                if(data.data.is_refund==1){
                    window.location.href='applyRefund.html?'+obj.order_id;
                }
            }else{
                alert(data.msg);
            }
        }
    }
</script>
</body>
</html>