<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../css/personal.css" />
    <title>卖废纸买废纸，上纸去哪了</title>
</head>
<body>
<div class="topbar"></div>
<div class="personalbanner"></div>
<div class="personalbox">
    <!-- 侧边栏-->
    <div class="personal-aside">
    </div>
    <!-- 主要内容-->
    <div class="dealMessage">
        <h3>供应消息</h3>
        <ul class="order-sel">
            <li class="on"><a href="javascript:void(0);">采购消息</a></li>
            <li><a href="supply_msg.html">供应消息</a></li>
        </ul>
        <div class="dealMessage-list">
            <table class="purchaseMsgList">
                <script type="text/html" id="purchaseMsgList">
                    <tr>
                        <th>采购方</th>
                        <th>规格</th>
                        <th>价格</th>
                        <th>数量</th>
                        <th>状态</th>
                    </tr>
                    {{each data as value i}}
                    <tr data-pw_id="{{value.pw_id}}" data-pw_buyer_id="{{value.pw_buyer_id}}" data-pw_supply_id="{{value.pw_supply_id}}">
                        <td style="text-align: left">
                            <div class="logo">
                                <img src="https://two.zhiqunale.cn/{{value.c_headurl}}"/>
                            </div>
                            <div>
                                <h4>{{value.c_username}}</h4>
                                <p class="renzheng">
                                    {{if value.c_certification==1}}
                                    <img src="../../img/zhoubian_renzheng_shi.png"/>
                                    {{/if}}
                                    {{if value.c_is_company==1}}
                                    <img src="../../img/zhoubian_renzheng_qi.png"/>
                                    {{/if}}
                                    {{if value.c_is_recommend==1}}
                                    <img src="../../img/zhoubian_renzheng_tui.png"/>
                                    {{/if}}
                                </p>
                                <h4><b>信用分：{{value.store_credit_stage}} 分</b></h4>
                            </div>
                        </td>
                        <td>
                            <p>{{value.pw_product_specifications}}</p>
                        </td>
                        <td>
                            <p><b>{{value.pw_product_price}}元/吨</b></p>
                        </td>
                        <td>
                            <p>{{value.pw_product_weight}}吨</p>
                        </td>
                        <td>
                            {{if value.pw_state==1}}
                            <p>卖家处理中</p>
                            {{else if value.pw_state==2}}
                            <p>卖家已同意</p>
                            {{else if value.pw_state==3}}
                            <p>卖家已拒绝</p>
                            {{else if value.pw_state==4}}
                            <p>买家已取消</p>
                            {{else if value.pw_state==5}}
                            <p>买家已同意</p>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </script>
            </table>
            <!-- 分页-->
            <div class="page_turn">
                <span class="pre_page">上一页</span>
                <span class="next_page">下一页</span>
            </div>
        </div>
    </div>
</div>
<div class="footer"></div>

<input type="hidden" class="purchaseMsg" />
<script src="../../lib/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../../lib/template-web.js"></script>
<script type="text/javascript" src="../../lib/md5.js"></script>
<script type="text/javascript" src="../../js/secret.js"></script>
<script type="text/javascript" src="../../js/purchaseMsg.js"></script>

</body>
</html>