<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../../css/public.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mall/mall.css" />
		<title>卖废纸买废纸，上纸去哪了</title>
	</head>

	<body>

		<div id="store_detail"></div>
		<!--<div class="footer_content"></div>-->
		<script type="text/html" id="storeDetail_tpl">
			<div class="store_header">
				<div class="store_img"><img src="../../img/shopdetail_banner.png" /></div>
				<div class="store_info">
					<ul>
						<li>
							<p>{{data.store_data.c_store_looks}}次</p>
							<span>近期浏览</span>
						</li>
						<li>
							<p>{{data.store_data.c_store_concern}}人</p>
							<span>关注了他</span>
						</li>
						<li>
							<p>{{data.store_data.recent_connect_person}}人</p>
							<span>近期联系</span>
						</li>
						<li class="last_li">
							<p>{{data.store_data.store_credit_stage}}级</p>
							<span>诚信等级</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="store_content">
				<div class="store_info_left">
					<div class="seller_info">
						<h3>商家信息</h3> {{if data.store_data.c_headurl}}
						<p class="seller_name" style="overflow: hidden; white-space: nowrap;text-overflow: ellipsis;"><img style="border-radius: 50%;" src="https://two.zhiqunale.cn/{{data.store_data.c_headurl}}" />{{data.store_data.c_username}}</p>
						{{else}}
						<p class="seller_name" style="overflow: hidden; white-space: nowrap;text-overflow: ellipsis;"><img style="border-radius: 50%;" src="../../img/index_touxiang.png" />{{data.store_data.c_username}}</p>
						{{/if}}
						<p>{{data.store_data.address}}</p>
						<p class="third_p">经纪人/代办&nbsp;主营：{{data.store_data.c_main_business}}</p>
					</div>
					<div class="follow_info">
						<p><span>近期浏览：</span>{{data.store_data.c_store_looks}}次</p>
						<p><span>关注了他：</span>{{data.store_data.c_store_concern}}人</p>
						<p><span>近期联系：</span>{{data.store_data.recent_connect_person}}人</p>
						<p style="margin: 0;"><span>诚信等级：</span>{{data.store_data.store_credit_stage}}级</p>
					</div>
					<div class="option">
						<h3>提供服务</h3>
						<a class="to_follow" href="###"><img src="../../img/shopdetail_btn_g.png" /><span>加关注</span></a>
						<a class="to_call" href="###"><img src="../../img/shopdetail_btn_g2.png" /><span>打电话</span></a>
						<a class="to_buy" href="###"><img src="../../img/shopdetail_btn_o.png" /><span>立即购买</span></a>
					</div>
				</div>
				<div class="store_info_right">
					<!--诚信等级-->
					<div class="integrity_level">
						<h4>诚信等级</h4>
						<ul>
							<li class="level_li">
								<p><i id="level_count">{{data.store_data.store_credit_stage}}</i>级</p>
								<p class="level_p"><img src="../../img/level_line.png" /><span>一般</span><img src="../../img/level_line.png" /></p>
							</li>
							<li class="judge_li">
								<p>信誉评价：{{data.store_data.c_store_credit_jugde}}<span>（{{data.store_data.c_store_jugde_count}}个评价）</span></p>
								<p>线上交易：￥0<span>（0单成交）</span></p>

								<p>
									{{if data.store_data.c_certification==1}}
									<b class="attestation_status">已认证</b> {{else if data.store_data.c_certification==2}}
									<b class="attestation_status">认证中</b> {{else if data.store_data.c_certification==3}}
									<b class="attestation_status">认证被拒绝</b> {{else}}
									<b class="attestation_status">未认证</b> {{/if}}
									<a href="###" class="rank_state"><img src="../../img/shopdetail_tishi.png" />等级说明</a>
								</p>
							</li>
						</ul>
					</div>
					<!--店铺收货价格走势图-->
					<div class="integrity_level">
						<h4>店铺收货价格走势图</h4>
						<div class="price_chart">
							<div id="main" style="width: 374px;height:200px;margin:auto ;"></div>
						</div>
					</div>
					<!--实力展示-->
					<div class="integrity_level">
						<h4>实力展示</h4>
						<div class="power_show">
							{{if data.store_data.c_store_show_text}}
							<p class="text_show">{{data.store_data.c_store_show_text}}</p>
							<p class="power_img">
								{{each data.store_data.c_store_show_photos value}}
								<img src="https://two.zhiqunale.cn/{{value}}" /> {{/each}}
							</p>
							{{else}}
							<p style="color: #333;font-size: 16px;">暂无店铺信息</p>
							{{/if}}
						</div>
					</div>
					<!--供应信息-->
					<div class="integrity_level">
						<h4>供应信息</h4>
						<div class="supply_info">
							{{if data.supply_data.length>0}}
							<ul class="supply_pro">
								<li>
									<a href="###">
										<img src="../../img/shopdetail_image.png" />
										<p>A级纸</p>
										<p>价格：<span>2000元</span></p>
									</a>
								</li>
								<li>
									<a href="###">
										<img src="../../img/shopdetail_image.png" />
										<p>A级纸</p>
										<p>价格：<span>2000元</span></p>
									</a>
								</li>
							</ul>
							{{else}}
							<p style="color: #333;font-size: 16px;">暂无供应信息</p>
							{{/if}}
						</div>
					</div>
					<!--采购信息-->
					<div class="integrity_level">
						<h4>采购信息</h4>
						<div class="purchase_info">
							{{if data.purchase_data.length>0}}
							<table>
								<tr>
									<th class="info1">规格</th>
									<th class="info2">价格</th>
									<th class="info3">数量</th>
									<th class="info4">地址</th>
									<th class="info5">起止日期</th>
									<th class="info6">物流费用负责方</th>
								</tr>
								<tr>
									<td>国废A级纸</td>
									<td>2000元</td>
									<td>100吨</td>
									<td>安徽省合肥市蜀山区内森庄园</td>
									<td>2017.11.11-2017.11.18</td>
									<td>买方</td>
								</tr>
								<tr>
									<td>国废A级纸</td>
									<td>2000元</td>
									<td>100吨</td>
									<td>安徽省合肥市蜀山区内森庄园</td>
									<td>2017.11.11-2017.11.18</td>
									<td>买方</td>
								</tr>
							</table>
							{{else}}
							<p style="color: #333;font-size: 16px;margin-left: 20px;">暂无采购信息</p>
							{{/if}}
						</div>
					</div>
				</div>
			</div>

		</script>
		<script src="../../lib/jquery-1.8.3.min.js"></script>
		<script src="../../lib/echarts.min.js"></script>
		<script src="../../lib/md5.js"></script>
		<script src="../../js/secret.js"></script>
		<script src="../../lib/template-web.js"></script>
		<script type="text/javascript">
			/*$('.footer_content').load('../public/footer.html');*/
			(function() {
				var url = 'https://two.zhiqunale.cn/paper/paperbuy/getstoredetail';
				var argu = {
					user_id: cookie.getCookie('uid'),
					device_number: 'pc_online',
					store_id: 20
				};
				GetList(argu, url, getStoreDetail);
			})()

			function getStoreDetail(data) {
				console.log(data);
				if(data.status_code == 10000) {
					var html = template('storeDetail_tpl', data);
					$('#store_detail').html(html);
					setTimeout(function() {
						var day = [],
							avg_price = [];
						for(var i in data.data.receive_price) {
							day.push(data.data.receive_price[i]['day']);
							avg_price.push(data.data.receive_price[i]['avg_price']);
						}
						console.log(day);
						console.log(avg_price);
						// 基于准备好的dom，初始化echarts实例
						var myChart = echarts.init(document.getElementById('main'));
						// 指定图表的配置项和数据
						var option = {
							title: {
								//text: 'ECharts 入门示例'
								//borderColor:'#00d3af'
							},
							tooltip: {
								show: true,
								trigger: 'axis'
							},
							grid: {
								left: '3%',
								right: '4%',
								bottom: '3%',
								containLabel: true,
								width: 400,
								height: 200
							},
							legend: {},
							toolbox: {
								show: true,
								orient: 'vertical',
								itemSize: 10,
								feature: {

									//saveAsImage: {}
								}
							},
							xAxis: {
								type: 'category',
								boundaryGap: true,
								splitLine: {
									show: false,
									interval: 0,
									lineStyle: {
										// 使用深浅的间隔色
										color: '#00d3af',
									}
								},
								//data: []
								axisLine: {
									lineStyle: {
										color: '#00d3af',
										width: 2, //这里是为了突出显示加上的
									}
								}
							},
							yAxis: {
								type: 'value',
								axisLine: {
									lineStyle: {
										color: '#00d3af',
										width: 2, //这里是为了突出显示加上的
									}
								},
								splitLine: {
									show: true,
									interval: 0,
									lineStyle: {
										// 使用深浅的间隔色
										color: '#00d3af',
									}
								},
								axisLabel: {
									formatter: '{value} 元'
								}
							},
							series: [{
								name: '均价',
								stack: '总量',
								type: 'line',
								itemStyle: {
									normal: {
										color: "#00d3af", //图标颜色
										label: {
											show: true
										}
									}
								},
								lineStyle: {
									normal: {
										width: 2, //连线粗细
										color: "#00d3af" //连线颜色
									}
								},								
								symbol: 'roundRect',
								symbolSize: '8',
								data: []
							}]
						};
						// 使用刚指定的配置项和数据显示图表。
						myChart.setOption(option);
						// 填入数据
						myChart.setOption({
							xAxis: {
								data: day
							},
							series: [{
								// 根据名字对应到相应的系列
								name: '价格',
								data: avg_price
							}]
						});

					}, 100);
				}
			}
		</script>

	</body>

</html>