* {
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: 'microsoft yahei';
}

img {
	vertical-align: middle;
}

ul {
	overflow: hidden;
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
	font-weight: normal;
}

button,
input,
select {
	outline: none;
}


/*地址管理*/

.personal {
	background: #F6F6F6;
}

.personalbanner {
	background-image: url('../img/personal_banner.png');
	height: 84px;
}

@media screen and (max-width: 1180px) {
	.personalbanner {
		width: 1180px;
	}
}

.personalbox {
	width: 1180px;
	margin: 0 auto;
	overflow: hidden;
	padding: 22px 0 56px;
}

.personal-aside {
	float: left;
}

.personal-aside-item {
	margin-bottom: 30px;
}

.personal-aside-title {
	font-size: 18px;
	color: #333;
	margin-bottom: 18px;
}

.personal-aside-title a {
	color: #666;
}

.personal-aside-title a.on {
	color: #00d4af;
}

.personal-aside-item p {
	font-size: 14px;
	margin-bottom: 18px;
}

.personal-aside-item p a {
	color: #666;
	font-size: 14px;
}

.personal-aside-item p.on a {
	color: #00d4af;
}

.personal-content {
	float: right;
	width: 940px;
	background: #fff;
	padding: 16px 50px;
	min-height: 860px;
}

.personal-content-title {
	padding: 14px 0;
	font-size: 18px;
	color: #333;
	border-bottom: 1px dashed #E5E5E5;
}

.address-manage-title {
	font-size: 18px;
	color: #333;
	margin: 26px 0 0;
}

.address-manage-title a {
	float: right;
	font-size: 16px;
	color: #666;
	margin-right: 10px;
}

.address-manage-list {
	margin-top: 26px;
}

.address-manage-listitem {
	border-bottom: 1px solid #D2D2D2;
	padding: 0 5px;
	margin-bottom: 26px;
}

.address-manage-listitem h3 {
	font-size: 16px;
	color: #666;
	margin-bottom: 25px;
}

.address-manage-listitem div {
	margin-bottom: 25px;
}

.address-manage-listitem p {
	display: inline-block;
}

.address-manage-listitem span {
	margin-right: 100px;
	font-size: 14px;
	color: #999;
}

.address-manage-listitem p.operation {
	float: right;
}

.address-manage-listitem a {
	margin-left: 40px;
	font-size: 16px;
	color: #666;
	background-image: url('../img/my_dizhiguanli_moren_p.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px 20px;
	padding-left: 31px;
	cursor: pointer;
}

.address-manage-listitem a.moren.on {
	background-image: url('../img/my_dizhiguanli_moren_n.png');
}

.address-manage-listitem a.edit {
	background-image: url('../img/my_dizhiguanli_bianji.png');
	background-color: #fff;
}

.address-manage-listitem a.delete {
	background-image: url('../img/my_dizhiguanli_cancel.png');
}


/*添加新地址*/

.address-addform {
	padding: 25px 88px;
}

.address-addform-item {
	margin-top: 22px;
}

.address-addform-item span {
	font-size: 16px;
	color: #666;
	margin-right: 10px;
	display: inline-block;
	text-align: right;
	width: 80px;
	line-height: 42px;
}

.address-addform-item input,
.address-addform-item select {
	width: 304px;
	height: 42px;
	line-height: 42px;
	border: 1px solid #E5E5E5;
	border-radius: 4px;
	padding: 0 15px;
	font-size: 16px;
	color: #999;
}

.address-addform-item select {
	width: 334px;
}

.address-addform-item label {
	background-image: url('../img/my_dizhiguanli_gouxuan.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 26px;
	font-size: 14px;
	color: #208DF0;
	cursor: pointer;
}

.address-addform-item label.on {
	background-image: url('../img/my_dizhiguanli_gouxuan1.png');
}

.address-addform-submit {
	margin-top: 80px;
	text-align: center;
}

.address-addform-submit button {
	background: #00D3AF;
	font-size: 20px;
	color: #fff;
	border: none;
	border-radius: 6px;
	width: 208px;
	text-align: center;
	height: 55px;
	line-height: 55px;
}


/*店铺资料管理*/

.shop-manage {
	margin-top: 70px;
	overflow: hidden;
}

.shop-manage-icon {
	float: left;
	margin: 0 50px;
	width: 146px;
	position: relative;
	height: 100%;
}

.shop-manage-icon input {
	opacity: 0;
	width: 100%;
	height: 146px;
	position: absolute;
	top: 0;
	left: 0;
	filter: alpha(opacity=0);
}

.shop-manage-icon img {
	width: 100%;
	height: 146px;
}

.shop-manage-form {
	float: left;
}

.shop-manage-form-item {
	margin-bottom: 40px;
}

.shop-manage-form-item>input,
.shop-form-detail {
	font-size: 14px;
	color: #666;
	width: 294px;
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
	border: 1px solid #e5e5e5;
	padding: 0 20px;
}

.shop-manage-form-item>span {
	font-size: 16px;
	color: #333;
	width: 80px;
	text-align: right;
	display: inline-block;
	margin-right: 16px;
	float: left;
	margin-top: 8px;
}

.shop-form-detail {
	display: inline-block;
	height: auto;
}

.shop-form-detail textarea {
	border: none;
	outline: none;
	resize: none;
	width: 100%;
	line-height: 20px;
	font-size: 12px;
	color: #999;
	padding: 15px 0;
	min-height: 130px;
	font-family: "microsoft yahei";
	border-bottom: 1px solid #E5E5E5;
}

.detail-upload {
	overflow: hidden;
}

.detail-upload a {
	display: inline-block;
	width: 33%;
	height: 78px;
	background-image: url('../img/my_shopmange_shangchuan.png');
	background-repeat: no-repeat;
	background-size: 78px 78px;
	background-position: left center;
	float: left;
}

.detail-upload a input {
	width: 78px;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
}

.detail-upload span {
	float: left;
	display: inline-block;
	width: 67%;
	line-height: 30px;
	color: #999;
	font-size: 12px;
}

.upload-list {
	margin: 20px 0;
	overflow: hidden;
}

.upload-list li {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 78px;
	height: 78px;
}

.upload-list li img {
	width: 100%;
	height: 100%;
}

.shop-manage-form-btn {
	margin-top: 80px;
	text-align: center;
}

.shop-manage-form-btn button ,#co_btn,#pe_btn{
	width: 206px;
	height: 54px;
	border: none;
	border-radius: 4px;
	background: #00D3AF;
	font-size: 20px;
	color: #fff;
	letter-spacing: 4px;
}


/*采购订单、供应订单*/

.order-sel {
	margin-top: 34px;
	border-bottom: 1px solid #D2D2D2;
}

.order-sel li {
	font-size: 16px;
	float: left;
	padding: 6px 13px;
	letter-spacing: 2px;
}

.order-sel li.on {
	background: #FF5000;
}

.order-sel li a {
	color: #333;
}

.order-sel li.on a {
	color: #fff;
}

.purchase-ordersort {
	margin: 18px 0;
	padding: 0 25px;
}
a.to_order_detail{
	color:#208DF0;
}
.purchase-ordersort li {
	float: left;
	color: #666;
	font-size: 16px;
	padding: 8px 13px;
	margin-right: 158px;
	cursor: pointer;
	border-bottom: 1px solid transparent;
}

.purchase-ordersort li.on {
	color: #00D4AF;
}

.purchase-ordersort li:hover {
	border-bottom: 1px solid #00D3AF;
}

.purchase-ordertable table {
	width: 100%;
	border-collapse: collapse;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
}

.purchase-ordertable th {
	background: #F2F2F2;
	color: #666;
	font-size: 16px;
	line-height: 33px;
}

.purchase-ordertable td {
	text-align: center;
	font-size: 14px;
	color: #666;
	padding: 17px 0;
}

.ordertable-evau {
	color: #208DF0;
}

.ordertable-chat {
	background-image: url('../img/my_wodebaojia_chat.png');
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-left: 27px;
	color: #00D3AF;
	letter-spacing: 2px;
}

.ordertable-relation {
	background-image: url('../img/my_wodebaojia_phone.png');
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-left: 27px;
	color: #4dbc04;
	letter-spacing: 2px;
}


/*资金银行卡管理*/

.bankcard {
	padding-top: 15px;
}

.cardlist li {
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #E5E5E5;
	padding-top: 10px;
}

.cardlist li img {
	margin: 0 26px;
}

.cardlist li b {
	font-size: 16px;
	color: #333;
	margin-right: 54px;
}

.cardlist li span {
	font-size: 14px;
	color: #999;
	margin-right: 400px;
}

.cardlist li a {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-image: url('../img/my_dizhiguanli_cancel.png');
	background-repeat: no-repeat;
	cursor: pointer;
}

.cardbtn {
	margin-top: 130px;
	text-align: center;
}

.cardbtn a {
	display: inline-block;
	width: 205px;
	height: 55px;
	line-height: 55px;
	border: none;
	border-radius: 7px;
	font-size: 18px;
	color: #fff;
	background: #00D3AF;
}


/*添加银行卡*/

.addcard {
	margin: 10px 0 0 140px;
}

.addcard-item {
	margin-top: 32px;
	position: relative;
}

.addcard-item span {
	margin-right: 14px;
	letter-spacing: 2px;
	font-size: 16px;
	color: #333;
	display: inline-block;
	width: 60px;
	text-align: right;
	line-height: 42px;
}

.addcard-item input {
	width: 300px;
	height: 42px;
	line-height: 42px;
	padding: 0 17px;
	border: 1px solid #E5E5E5;
	border-radius: 4px;
	font-size: 14px;
	color: #999;
}

.addcard-item input.addcard-item-khh {
	background-image: url('../img/my_tianjiadizhi_xiala.png');
	background-size: 12px 11px;
	background-position: 311px center;
	background-repeat: no-repeat;
	cursor: pointer;
	padding-right: 34px;
	width: 283px;
}

.addcard-item p {
	margin: 14px 0 0 80px;
	color: #666;
	font-size: 12px;
}

.addcard-item-khhlist {
	border: 1px solid #E5E5E5;
	border-radius: 4px;
	width: 130px;
	position: absolute;
	top: 44px;
	left: 283px;
	display: none;
	z-index: 10;
	background: #fff;
}

.addcard-item-khhlist.on {
	display: inline-block;
}

.addcard-item-khhlist li {
	padding: 10px 0;
	font-size: 14px;
	color: #333;
	line-height: 28px;
	border-bottom: 1px solid #E5E5E5;
	cursor: pointer;
}

.addcard-item-khhlist li:last-child {
	border-bottom: none;
}

.addcard-item-khhlist li i {
	font-style: normal;
	text-overflow: ellipsis;
	width: 56px;
	height: 23px;
	display: inline-block;
	overflow: hidden;
}

.addcard-item-khhlist li img {
	width: 28px;
	height: 28px;
	margin: 0 10px 0 16px;
	vertical-align: text-bottom;
}

.addcard-item button {
	margin-left: 20px;
	border: none;
	width: 136px;
	height: 44px;
	border-radius: 4px;
	background: #FF5000;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
}

.addcard-sure {
	margin-top: 110px;
	text-align: center;
}

.addcard-sure>a {
	display: inline-block;
	width: 208px;
	height: 56px;
	background: #00D3AF;
	border-radius: 6px;
	line-height: 56px;
	letter-spacing: 5px;
	color: #fff;
	font-size: 20px;
	position: relative;
	right: 50px;
	cursor: pointer;
}


/*支付密码*/

.paymentcode {
	padding-top: 30px;
	padding-left: 60px;
}

.paymentcode .addcard-item span {
	width: 110px;
}


/*我的供应和我的采购页面样式*/

.purchase {
	width: 1040px;
	float: right;
	background-color: #fff;
	padding: 30px 40px 48px 40px;
	min-height: 825px;
	box-sizing: border-box;
}

.purchase>h3 {
	font-size: 18px;
	color: #333;
	padding-bottom: 14px;
	border-bottom: 1px dashed #e5e5e5;
	font-weight: normal;
}


/*新增样式*/

.supply-sel {
	margin-top: 34px;
	border-bottom: 1px solid #D2D2D2;
}

.supply-sel li {
	font-size: 16px;
	float: left;
	padding: 8px 13px;
	letter-spacing: 2px;
	color: #333;
	cursor: pointer;
	margin-right: 10px;
}

.supply-sel li.on {
	background: #FF5000;
	color: #fff;
}

div.purchase_list table {
	table-layout: fixed;
	width: 100%;
}

div.purchase_list {
	margin-top: 30px;
}

div.purchase_list>div {
	width: 100%;
	display: none;
}

div.purchase_list>div.on {
	display: block;
}

div.purchase_list table th {
	font-weight: normal;
	color: #333;
	font-size: 16px;
	background-color: #f3f3f3;
	height: 36px;
	line-height: 36px;
	text-align: center;
}


/*div.purchase_list .th1{*/


/*width:135px ;*/


/*}*/


/*div.purchase_list .th2{*/


/*width: 135px;*/


/*}*/


/*div.purchase_list .th3{*/


/*width: 130px;*/


/*}*/


/*div.purchase_list .th4{*/


/*width: 205px;*/


/*}*/


/*div.purchase_list .th5{*/


/*width: 145px;*/


/*}*/


/*div.purchase_list .th6{*/


/*width: 145px;*/


/*}*/


/*div.purchase_list .th7{*/


/*width:145px ;*/


/*}*/

.quotedetail{
	cursor: pointer;
}

div.purchase_list table td {
	font-size: 14px;
	color: #666;
	text-align: center;
	/*height: 50px;*/
	/*line-height: 50px;*/
	padding: 13px 0;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
	word-wrap: break-word;
}

div.purchase_list table td a {
	cursor: pointer;
}

div.purchase_list table tr:hover {
	background-color: #fff1f1;
}

td.option a {
	display: inline-block;
	text-align: center;
	width: 50px;
	font-size: 14px;
	color: #fff;
	height: 26px;
	line-height: 26px;
	border-radius: 5px;
}


/*下架按钮*/

a.down {
	background-color: #ff5000;
}


/*下架编辑按钮和刷新按钮*/

a.edit,
a.refresh {
	margin-left: 10px;
	background-color: #208df0;
}


/*上架按钮*/

a.up {
	background-color: #4dbc04;
}


/*上架编辑按钮*/

a.up_edit {
	margin-left: 10px;
	background-color: #ffba00;
}

a.change_price {
	position: absolute;
	top: 15px;
	/*right: -8px;*/
	width: 46px;
	height: 18px;
	display: inline-block;
	background: url(../img/my_wodegongying_gaijia.png) no-repeat;
	color: #fff;
	font-size: 12px;
}

a.change_price>span {
	display: inline-block;
	width: 100%;
	position: absolute;
	top: 2px;
	left: 3px;
	line-height: 1;
}

a.change_price:hover {
	text-decoration: none;
}


/*-----------我的报价页面样式--------------*/

div.purchase_list .quote_th1 {
	width: 180px;
}

div.purchase_list .quote_th2 {
	width: 180px;
}

div.purchase_list .quote_th3 {
	width: 145px;
}

div.purchase_list .quote_th4 {
	width: 160px;
}

div.purchase_list .quote_th5 {
	width: 300px;
}

div.purchase_list .quote_status {
	color: #208df0;
}

div.purchase_list .quote_status_agree {
	color: #cf181e;
}


/*订金*/

div.purchase_list span.deposit {
	margin-left: 35px;
}


/*状态左对齐*/

.left_align {
	text-align: left !important;
}

a>img {
	vertical-align: -3px;
	margin-right: 8px;
}

a.cancel {
	color: #FF5000;
}

a.chat {
	color: #00d4af;
	margin: 0 30px;
}

a.phone {
	color: #4dbc04;
}


/*-----------认证页面-------------*/


/*认证状态*/

.acc_state {
	float: right;
	color: #333;
	font-size: 16px;
	margin-right: 15px;
	margin-top: 10px;
	color: #00D3AF;
}
.re_edit{
	float: right;
	font-size: 16px;
	margin-top: 50px;
	color: #208DF0;
	position: relative;
	right:-66px;
	
}
a.co_edit{
	color: #208DF0;
}
p.tip_text{
	font-size: 16px;
	color: #333;
	margin-left: 2px;
}
/*-----个人认证-----*/

.purchase_list h2 {
	font-size: 18px;
	color: #333;
	margin-bottom: 54px;
}

#pe_card_img img{
	width: 250px;
	height: 150px;
}
/*实名认证*/
.certificate_msg input[type='text']{
	border: 1px solid #d2d2d2;
    border-radius: 5px;
    width: 296px;
    height: 40px;
    line-height: 32px;
    padding: 0 10px;
    font-size: 18px;
}
.selImg {
	margin-right: 50px;
	width: 250px;
	height: 150px;
	display: inline-block;
	position: relative;
}

.selImg input {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	width: 100%;
	height: 100%;
	padding: 0;
}

.selImg img {
	width: 100%;
	height: 100%;
}

/*企业认证*/
.co_company_edit{	
	margin-bottom: 48px;
}
.co_company_edit span{
	margin-left: 87px;
	word-spacing: 26px;
	margin-right: 30px
}
.co_company_edit select,#main_type{
	 width: 335px;
    height: 44px;
    border: 1px solid #d2d2d2;
}
div.certificate_msg{
	display: block !important;
}
div.certificate_msg p {
	color: #333;
	font-size: 16px;
	margin-bottom: 48px;
	
}
select#main_type{
	padding: 0 15px;
	border-radius: 4px;
	color: #666;
	
}
/*提交按钮*/
#co_btn{
	position: relative;
	left: -150px;
}

div.certificate_msg p>span {
	color: #666;
	margin-right: 30px;
	margin-left: 87px;
}

.certificate_msg span.name {
	margin-left: 80px;
}

.certificate_msg span.id_number {
	margin-left: 63px;
}

.certificate_msg span.id_img {
	margin-left: 0;
}

div.certificate_msg p>img {
	vertical-align: text-top;
	margin-right: 40px;
}


/*----------账户信息页面样式-------------*/

#account_content {
	min-height: 202px;
	padding-bottom: 0;
}

.account_info {
	margin-top: 30px;
}

.account_info>div {
	display: inline-block;
}

div.info_img {
	position: relative;
	top: -62px;
}

.info_img>img {
	width: 88px;
	height: 92px;
}

.info_detail {
	margin-left: 14px;
	width: 89%;
}

.info_detail h4 {
	color: #333;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 20px;
}

.info_detail p {
	font-size: 16px;
	color: #666;
}

.my_role {
	background: url(../img/my_zhanghuxinxi_dabao.png) no-repeat;
	padding-left: 25px;
	margin-right: 20px;
}

.my_address {
	background: url(../img/my_zhanghuxinxi_dizhi.png) no-repeat;
	padding-left: 25px;
	margin-right: 36px;
}

.my_score {
	margin-right: 44px;
}

.my_score>i {
	font-style: normal;
	font-size: 14px;
	color: #f1a31c;
}

.my_ranking>b {
	font-weight: normal;
	font-size: 14px;
	color: #FF5000;
}

p.my_first {
	padding-bottom: 16px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 14px;
}

p.my_second span {
	margin-right: 26px;
	color: #999;
}

p.my_second b {
	font-weight: normal;
	color: #666;
}

.strength_show {
	width: 1040px;
	float: right;
	background-color: #fff;
	margin-top: 18px;
	margin-bottom: 90px;
}

.strength_show>h3 {
	border-bottom: 1px solid #e5e5e5;
	height: 44px;
	line-height: 44px;
	background: url(../img/bg_left.png) no-repeat;
	background-position: left center;
	font-size: 18px;
	color: #333;
	font-weight: normal;
	padding-left: 40px;
}

div.strength_detail {
	padding: 0px 40px 17px 40px;
	box-sizing: border-box;
}

a.edit_info {
	float: right;
	color: #ff5000;
	background: url(../img/my_zhanghuxinxi_bianji.png) no-repeat;
	background-size: 16px 16px;
	padding-left: 25px;
	font-size: 16px;
	margin-right: 33px;
	background-position: left center;
}

a.edit_info:hover {
	text-decoration: none;
}

p.text_show {
	font-size: 16px;
	color: #333;
	line-height: 1.5;
	margin: 20px 0 40px;
}

div.img_show {
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}

div.img_show>img {
	margin-right: 20px;
	width: 154px;
}


/*--------------我的团队-------------*/

a.team_share {
	float: right;
	color: #fff;
	font-size: 14px;
	text-align: center;
	background-color: #00D3AF;
	height: 26px;
	width: 58px;
	line-height: 26px;
	border-radius: 5px;
}

.my_team>p {
	color: #666;
	font-size: 16px;
	margin-left: 136px;
}

.my_team>p>span {
	color: #333;
}

p.team_count {
	margin-top: 40px;
	margin-bottom: 50px;
}

a.rank_state {
	margin-top: 46px;
	float: right;
	color: #666;
	padding-left: 25px;
	font-size: 14px;
}

a.rank_state img {
	width: 15px;
	vertical-align: -2px;
}

a.rank_state:hover {
	text-decoration: none;
	color: #00D3AF;
}

ul.team_numbers {
	margin-top: 20px;
	border: 1px solid #e5e5e5;
	border-bottom: 0px;
}

ul.team_numbers>li {
	height: 77px;
	border-bottom: 1px solid #e5e5e5;
}

ul.team_numbers>li img {
	width: 50px;
	height: 50px;
	vertical-align: -5px;
	margin-right: 28px;
	margin-left: 36px;
}

ul.team_numbers div {
	display: inline-block;
	color: #333;
	margin-top: 20px;
}

ul.team_numbers p {
	font-size: 16px;
}

ul.team_numbers p.team_second_p {
	font-size: 14px;
	margin-top: 10px;
}

ul.team_numbers>li span {
	color: #666;
}

i.red_text {
	font-style: normal;
	color: #ff0036;
}

span.money {
	margin: 0 162px;
}


/*------------资金管理页面---------*/

#fund_box {
	padding: 30px 58px 48px 40px;
	box-sizing: border-box;
	min-height: 523px;
}

div.fund_content {
	margin-top: 32px;
}

a.presentation_details {
	float: right;
	color: #ff5000;
	font-size: 14px;
}

p.balance {
	color: #333;
	font-size: 18px;
	margin-bottom: 48px;
}

p.balance span {
	color: #FF5000;
	font-size: 30px;
	margin-left: 40px;
}

ul.fund_state {
	padding: 17px 0 15px 0;
	background-color: #f6f6f6;
	margin-bottom: 12px;
}

ul.fund_state li {
	display: inline-block;
	width: 310px;
	text-align: center;
	font-size: 16px;
	color: #666;
	border-right: 1px solid #e5e5e5;
}

ul.fund_state li p {
	margin-bottom: 16px;
}

ul.fund_state li span {
	color: #FF0036;
}

ul.fund_state li.last_li {
	border: 0px;
}

a.presentation_rule {
	color: #999;
	font-size: 14px;
}

a.presentation_rule img {
	margin-right: 8px;
}

p.presentation_option {
	margin-top: 80px;
	text-align: center;
}

p.presentation_option a,
p.sure_cash a {
	width: 180px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	display: inline-block;
	border-radius: 5px;
	border: 1px solid #00D4AF;
	font-size: 16px;
}

p.presentation_option a:hover {
	text-decoration: none;
}

a.presentation_btn {
	color: #fff;
	background-color: #00D4AF;
	margin-right: 104px;
}

a.presentation_btn:hover {
	opacity: .8;
	filter: alpha(opacity=80);
}

a.bank_btn {
	color: #00D4AF;
	border: 1px solid #00D4AF;
}


/*提现明细页面*/

div.tocash_list {
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}

div.tocash_list p {
	display: inline-block;
	color: #666;
	font-size: 18px;
}

p.first_p {
	margin-left: 35px;
}

p.second_p {
	margin-left: 480px;
}

div.tocash_list span {
	display: block;
	color: #999;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 12px;
}

a.detail_btn {
	position: absolute;
	right: 35px;
	top: 15px;
	color: #208df0;
	font-size: 14px;
}


/*明细详情*/

div.fund_detail_content {
	margin-top: 60px;
}

div.fund_detail_content>p {
	color: #666;
	font-size: 16px;
	margin-bottom: 40px;
}

div.fund_detail_content span {
	color: #333;
	margin-left: 16px;
}

b.bank_num {
	font-weight: normal;
	color: #666;
}

p.details1 {
	padding-left: 108px;
}

p.details2 {
	padding-left: 90px;
}

p.details3 {
	padding-left: 125px;
}


/*提现页面*/

div.fast_cash_content {
	margin-top: 22px;
	color: #333;
	font-size: 18px;
}

div.fast_cash_content span {
	margin-right: 16px;
}

span.cash_count {
	margin-left: 18px;
}

div.fast_cash_content input {
	width: 196px;
	height: 35px;
	border: 1px solid #e5e5e5;
	margin-right: 5px;
	padding-left: 10px;
}

div.fast_cash_content b {
	font-weight: normal;
	font-size: 16px;
	color: #666;
	margin-left: 8px;
}

div.select_bank_card {
	margin-bottom: 38px;
	position: relative;
}

div.select_bank_card>span {
	margin-top: 30px;
	float: left;
}

div.bank_card_list {
	clear: both;
	display: inline-block;
}

div.bank_card_list p {
	background: url(../img/zijinguanli_tixian_choice.png) no-repeat;
	background-position: 10px center;
	background-color: #f6f6f6;
	width: 810px;
	height: 76px;
	line-height: 76px;
	margin-bottom: 10px;
	box-sizing: border-box;
	padding-left: 40px;
}

div.bank_card_list img {
	vertical-align: middle;
	margin-right: 20px;
	margin-left: 3px;
}

div.bank_card_list span {
	color: #999;
	font-size: 16px;
	margin-left: 28px;
}

p.rule_p {
	margin-top: 20px;
}

p.sure_cash {
	margin-top: 75px;
	text-align: center;
}


/*提现页面————弹出框*/

.popupBox,
.background {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 22;
}

.background {
	background-color: #000;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

div.password_box {
	margin-top: 60px;
	margin-bottom: 36px;
}

div.password_box>h3 {
	font-size: 18px;
	color: #333;
	margin-bottom: 30px;
}

div.input_box input {
	outline: none;
	border: 1px solid #E5E5E5;
	width: 62px;
	height: 66px;
	text-align: center;
	font-size: 25px;
	margin-left: -4px;
}


/*div.input_box input{
	outline: none;
	border: 1px solid #E5E5E5;
	width: 373px;
	height: 66px;
	padding-left: 10px;
	font-size: 40px;
	text-align: center;	
}
*/

.popupBox a {
	color: #fff;
	font-size: 16px;
	display: inline-block;
	height: 46px;
	line-height: 46px;
	border-radius: 5px;
	text-align: center;
}

#resubmit_box {
	background: #fff;
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	margin: auto;
	z-index: 22;
	border-radius: 20px;
	color: #333;
	width: 414px;
	height: 298px;
	text-align: center;
}


/*右上角关闭按钮*/

#close {
	float: right;
	margin: 14px 18px 0px 0px;
	cursor: pointer;
}


/*提交失败*/

p#submit_fail {
	font-size: 20px;
	margin: auto;
	margin-top: 76px;
	margin-bottom: 53px;
	text-align: center;
}

a#sure_btn {
	width: 222px;
	background-color: #00D4AF;
}


/*弹出框*/

.popBox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	display: none;
}

.popBox .popback {
	background-color: #000;
	opacity: 0.4;
	filter: alpha(opacity=40);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.popBox .popfront {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.popfront .popshow {
	width: 220px;
	height: 110px;
	padding: 20px 20px;
	border-radius: 8px;
	background: #f7f7f7;
	margin: 0 auto;
	position: relative;
	top: 36%;
}

.popshow p {
	line-height: 50px;
	font-size: 16px;
	letter-spacing: 2px;
}

.popHide {
	background: #ff5000;
	border: none;
	border-radius: 4px;
	color: #fff;
	padding: 8px 12px;
	cursor: pointer;
}
/*翻页*/
/*div.page_turn{
	text-align: center;
	margin-top: 10px;
}
div.page_turn span{
	display: inline-block;
	width: 50px;
	height: 20px;
	font-size: 14px;
	color: #999;
	border: 1px solid ;
	border-radius: 6px;
	padding: 2px 5px;
	cursor: pointer;
}
div.page_turn span:hover{	
	color: #00d3af;	
}
.current{
	
}
div.page_turn span.pre_page{
	
}
.next_page{
	margin-left:15px ;
}*/
/*我的退款*/
div.wihte_space{
	height: 28px;
}
td.refund_money{
	color: #FF5000;
}
a.reapply{
	display: inline-block;
	color: #FF5000;
	border: 1px solid #FF5000;
	border-radius: 5px;	
}
#refund_list td{
	padding: 16px 0px 12px;
}
#refund_list td a:hover{
	text-decoration: none;
}

/*提交反馈*/
.feedBack{
	text-align: center;
}
.feedBack textarea{
	margin: 50px auto 90px;
	padding: 20px 25px;
	width: 738px;
	height: 356px;
	border: 1px solid #E5E5E5;
	border-radius: 8px;
	resize: none;
	font-size: 16px;
	color: #999;
}
.subfeed,.iousubmit{
	background: #00D3AF;
	border: none;
	border-radius: 5px;
	color: #fff;
	width: 180px;
	text-align: center;
	height: 46px;
	line-height: 46px;
	font-size: 18px;
	cursor: pointer;
}

/*小猴白条*/
.ioubanner{
	width: 100%;
}
.ioubanner img{
	width: 100%;
}
.ioubox{
	width: 1180px;
	margin: 50px auto;
	text-align: center;
}
.ioubox-item{
	margin-top: 25px;
	position: relative;
	right: 60px;
}
.ioubox-item span{
	font-size: 16px;
	color: #333;
}
.ioubox-item input,.ioubox-item select,
.ioubox-item textarea{
	width: 304px;
	height: 30px;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	padding: 6px 15px;
	font-size: 14px;
	color: #999;
	margin-left: 30px;
}
.ioubox-item select{
	width: 96px;
	height: 42px;
	margin-left: 20px;
	padding: 0 6px;
}
.ioubox-item textarea{
	width: 290px;
	height: 60px;
	margin-left: 12px;
	resize: none;
	vertical-align: middle;
	line-height: 26px;
}
.ioubox-item input.money,.ioubox-item input.zhouqi{
	width: 236px;
	margin-left: 18px;
}
.ioubox-item input.yongtu{
	margin-left: 12px;
	width: 290px;
}
.ioubox-item p{
	margin: 10px 0;
	color: #999;
	font-size: 14px;
}
.ioubox-item p a{
	color: #ef7d40;
	text-decoration: none;
}

